@import "../../styles/variables.css";
.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.Container__background {
    width: 100%;
    max-width: 1440px;
    border-radius: 0 0 20% 20%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url("../../assets/img/background.png");
}

.Container__darkOverlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    border-radius: 0 0 20% 20%;
    left: 0;
    padding: 20px;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.Container__backgroundTextView {
    position: absolute;
    left: 18%;
    top: 10%;
    width: 100%;
    padding-bottom: var(--space-60);
}

.Container__reviewID {
    color: var(--color-white);
    margin-bottom: var(--space-5);
    font-weight: 400;
}

.Container__reviewTitle {
    color: var(--color-white);
    margin: 0px;
}

@media only screen and (max-width: 720px) {
    .Container__background {
        max-width: 100%;
    }
    .ReviewList__header {
        flex-direction: column-reverse;
    }
    .Container__backgroundTextView {
        left: 8%;
    }
}