:root {
    --color-blue: #0476db;
    --color-white: #ffffff;
    --color-black: #ffffff00;
    --color-catskill-white: #f9fafc;
    --color-athens-gray: #eceef4;
    --color-blue-haze: #ccd0e0;
    --color-gray-border: #e1e4e7;
    --color-slate-gray: #6e7492;
    --color-mirage: #191d2f;
    --color-shadow: #6e7492;
    --color-background: #f5f8f9;
    /* spacing values */
    /* 4px -> 025rem */
    --space-unit: 0.25rem;
    --space-5: calc(1 * var(--space-unit));
    /* 4px */
    --space-10: calc(2 * var(--space-unit));
    /* 8px  */
    --space-15: calc(3 * var(--space-unit));
    /* 12px  */
    --space-20: calc(4 * var(--space-unit));
    /* 16px */
    --space-25: calc(5 * var(--space-unit));
    /* 20px  */
    --space-30: calc(6 * var(--space-unit));
    /* 24px */
    --space-35: calc(7 * var(--space-unit));
    /* 28px */
    --space-40: calc(8 * var(--space-unit));
    /* 32px */
    --space-45: calc(9 * var(--space-unit));
    /* 36px */
    --space-50: calc(10 * var(--space-unit));
    /* 40px */
    --space-55: calc(11 * var(--space-unit));
    /* 44px */
    --space-60: calc(12 * var(--space-unit));
    /* 48px */
    --space-70: calc(16 * var(--space-unit));
    /* 60px */
    /* Font Sizes */
    --font-size-xsmall: calc(3 * var(--space-unit));
    --font-size-small: calc(3.2 * var(--space-unit));
    --font-size-medium: calc(3.8 * var(--space-unit));
    --font-size-large: calc(4 * var(--space-unit));
}