@import "../../styles/variables.css";
.Review {
    display: flex;
    flex-direction: column;
}

.Review__ratingSource {
    display: flex;
    flex-direction: row;
}

.Review__ratingBox {
    display: flex;
    background-color: var(--color-blue);
    margin-right: var(--space-20);
    padding: 0px var(--space-10);
    border-radius: var(--space-10);
    height: var(--space-40);
    width: var(--space-70);
    justify-content: center;
    align-items: center;
    color: var(--color-white);
}

.Review__givenScore {
    font-weight: bold;
    margin: 3px;
}

.Review__headline {
    font-weight: bold;
}

.Review__comment {
    margin: 0px;
    line-height: 150%;
}

.Review__opinionContainer {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    align-items: flex-start;
}

img {
    margin-right: var(--space-10);
    margin-top: var(--space-unit);
}

hr {
    border-top: 1px solid var(--color-gray-border);
    margin: var(--space-35) 0px;
}

.Review__author {
    margin: var(--space-10) 0px;
    font-size: var(--font-size-medium);
}

.Review__publishedAt {
    font-size: var(--font-size-medium);
    margin: 0px;
    color: var(--color-shadow);
}

@media only screen and (max-width: 720px) {
    .Review__ratingSource {
        justify-content: space-between;
    }
}