@import "../../styles/variables.css";
.ReviewList__container {
    background-color: var(--color-white);
    /* height: 100%; */
    position: relative;
    top: 40%;
    width: 65%;
    /* width: calc(18 * var(--space-70)); */
    border-radius: var(--space-10);
    /* overflow-y: scroll; */
    overflow-x: hidden;
    padding-bottom: calc(2 * var(--space-70));
}

.ReviewList__reviewsCardInner {
    margin: var(--space-50);
    display: flex;
    flex-direction: column;
}

.ReviewList__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* 
.ReviewList__reviewsFilterContainer {
} */

.ReviewList__filterLabelContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ReviewList__reviewsFilters {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.ReviewList__filterChannel {
    display: flex;
    margin: 0px var(--space-30);
}

.ReviewList__filterLabel {
    margin: 0px var(--space-unit);
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.ReviewList__input {
    padding: 0.5em 0.75em;
    border-radius: var(--space-5);
    border: 1px solid var(--color-slate-gray);
    outline: none;
    background: none;
}

.ReviewList__submit {
    background-color: var(--color-blue);
    padding: 0px var(--space-10);
    border-radius: var(--space-10);
    height: var(--space-40);
    width: var(--space-70);
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.ReviewList__loader {
    align-self: center;
    justify-self: center;
}

.Pagination {
    display: flex;
    list-style: none;
    cursor: pointer;
    align-self: center;
    /* justify-items: center;
    justify-content: center; */
}

.Pagination a {
    padding: var(--space-15);
    margin: var(--space-15);
    border-radius: 5px;
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
}

.Pagination__link {
    font-weight: bold;
}

.Pagination__link_active a {
    color: var(--color-white);
    background: var(--color-blue);
}

.Pagination__link_disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
}

@media only screen and (max-width: 720px) {
    .ReviewList__container {
        width: 85%;
    }
    .ReviewList__header {
        flex-direction: column-reverse;
        align-items: center;
    }
    .ReviewList__filterLabelContainer {
        flex-direction: column;
        align-items: flex-start;
    }
    .ReviewList__filterLabel {
        font-size: var(--font-size-small);
        padding-bottom: var(--space-unit);
    }
    .ReviewList__filterChannel {
        flex-direction: column;
    }
    .ReviewList__reviewsFilters {
        align-items: flex-end;
    }
    .Pagination {
        margin-right: var(--space-50);
    }
}